/* Fonts (Free and Open sources) */
@font-face {
    font-family: 'Existence';
    src: url('./fonts/Existence-Light-webfont.eot');
    src: url('./fonts/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Existence-Light-webfont.woff') format('woff'),
         url('./fonts/Existence-Light-webfont.ttf') format('truetype'),
         url('./fonts/Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Junction';
  src: url('./fonts/Junction-webfont.eot');
  src: url('./fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Junction-webfont.woff') format('woff'),
       url('./fonts/Junction-webfont.ttf') format('truetype'),
       url('./fonts/Junction-webfont.svg#junctionregularRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General CSS */
body {
	font-family: "Junction", Arial;
	background-color: #EEE;
}

/* Header part*/
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 110px;
	background-color: #545454;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	   -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
		 -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

header #header-content {
	position: relative;
	width: 800px;
	margin: 0 auto;
}

header h1 {
	position: absolute;
	top: 20px;
	left: 60px;
	color: #FFF;
	font-size: 44px;
	font-family: "Existence", Arial;
}

header #Napier-University-logo {
	position: absolute;
	right: -20px;
	top: 25px;
}

header #Taxi-logo {
	position: absolute;
	left: -20px;
	top: 15px;
	width:70px;
}

header nav {
	position: absolute;
	top: 85px;
	left: 15px;
}

header ul {
	list-style-type:none;
	margin: 0;
}

header li {
	display: inline-block;
	padding: 0 5px;
}

header ul a {
	color: #AAA;
	font-size: 14px;
}

header ul a:hover {
	color: #FFF;
	text-decoration: none;
}

header ul a.actif {
	color: #FFF;
	text-shadow:1px 1px 1px #AAA;
}

/* Content part*/
#body-content {
	width: 800px;
	height: auto;
	background-color: #CECECE;
	margin: 0 auto;
	padding-top: 110px;
	padding-bottom: 50px;
	border-left:  1px solid #AAA;
	border-right: 1px solid #AAA;
}

	/** Map container */
	#map-container {
		position: relative;
		width: 800px;
		height: 300px;
		border-bottom: 1px solid #B01936;
		-webkit-transition: height 1s;
		   -moz-transition: height 1s;
			 -o-transition: height 1s;
				transition: height 1s;
	}

	#map-container #map-canvas {
		width: 800px;
		height: 300px;
		-webkit-transition: height 1s;
		   -moz-transition: height 1s;
			 -o-transition: height 1s;
				transition: height 1s;
	}

	#map-container #expand-button {
		position: absolute;
		top: 0;
		left: 0;
		width: 250px;
		height: 300px;
	}

	#map-container #expand-button:hover {
		cursor: pointer;
	}

	#map-container #expand-button #rectangle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100px;
		height: 300px;
		background-color: rgba(176, 25, 55, 0.6);
	}

	#map-container #expand-button #triangle {
		position: absolute;
		top: 0;
		left: 100px;
		background: url("data/images/red triangle.png") no-repeat;
		width: 150px;
		height: 300px;
	}

	#map-container #expand-button p#expand-text {
		margin: 0;
		width: 280px;
		position: absolute;
		top: 130px;
		left: 0px;
		color: #FFF;
		font-size: 24px;
		line-height: 150%;
		-webkit-transform: rotate(295deg);
		   -moz-transform: rotate(295deg);
			 -o-transform: rotate(295deg);
				transform: rotate(295deg);
	}

	#map-container p#minimize-button:hover {
		cursor: pointer;
	}

	#map-container p#minimize-button {
		display: none;
		height: 25px;
		width: 800px;
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		padding-top: 8px;
		background-color: rgba(176, 25, 55, 0.6);
		color: #FFF;
		text-align: center;
		font-size: 20px;
		-webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.6);
		   -moz-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.6);
			 -o-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.6);
				box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.6);
	}

#body-content #left-part {
	float: left;
	width: 398px;
	margin-top: 20px;
	border-right: 2px solid #B01936;
}

#body-content #right-part {
	float: right;
	width: 390px;
	margin-top: 20px;
	text-align: right;
}

#body-content fieldset {
	margin-bottom: 30px;
}

#legend {
	position: relative;
	height: 50px;
	margin-bottom: 15px;
}

#legend h3 {
	position: absolute;
	top: 0;
	margin: 0px;
	height: 44px;
	font-weight: normal;
	font-size: 30px;
	color: #FFF;
	background-color: #5D5D5D;
}

#left-part #legend h3 {
	left: 0;	
	width: 225px;
	padding: 5px 0 0 5px;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
		 -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

#right-part #legend h3 {
	right: 0;
	width: 220px;
	padding: 5px 5px 0 0;
	-webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.8);
		 -o-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.8);
			box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.8);
}

.left-gray-triangle {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 230px;
	width: 50px;
	height: 50px;
	background: url("data/images/gray triangle left.png") no-repeat;
}

.right-gray-triangle {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 225px;
	width: 50px;
	height: 50px;
	background: url("data/images/gray triangle right.png") no-repeat;
}

#body-content fieldset select {
        border-color:rgba(176, 25, 55, 0.6);
        width: 100px;
}

#left-part #legend.people h3 {
	width: 100px;
}

#legend.people .left-gray-triangle {
	left: 105px;
}

#body-content fieldset input {
	margin-left: 20px;
	margin-right: 20px;
        border-color:rgba(176, 25, 55, 0.6);
}

#body-content #asap, #body-content #selectDateTime {
	margin: 0;
}

#body-content #time-btns, #body-content #chosenDate,
#body-content #datepicker-container  {
	margin-left: 20px;
}

#body-content #find-btn {
	display: block;
	margin: 30px auto 0 auto;
	width: 200px;
	height: 60px;
	background-color:#B01936;
	font-family: "Junction", Arial;
	font-size: 24px;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
		 -o-border-radius: 4px;
			border-radius: 4px;
    border: solid 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
         -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#body-content #find-btn:hover {
	background-color: #94001D;
}

#body-content #find-btn:active {
	background: #9D273E;
}

#result-view {
	text-align: center;
}

footer{
	width: 800px;
	height: auto;
	background-color: #CECECE;
	margin: 0 auto;
	padding-bottom: 50px;
	border-left:  1px solid #AAA;
	border-right: 1px solid #AAA;
	text-align: center;
	font-size: 13px;
}

/* Autocomplete design */
.ui-autocomplete {
    background-color: white;
    width: 220px;
    border: 1px solid #CFCFCF;
    list-style-type: none;
    padding-left: 0px;
}

.ui-autocomplete a:hover, .ui-autocomplete li:hover {
	font-weight: normal;
	text-decoration: none;
}

/* About box,Contact box, How-to box & Bookings box*/
#about-box, #contact-box, #howto-box, 
#booking-box, #error-box, #warning-box {
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: -325px;
	z-index: 1000;
	width: 600px;
	text-align: justify;
}

#booking-box {
	width: 800px;
	margin-left: -425px;
}

#about-box p, #howto-box p {
	text-indent: 25px;
}

#contact-box #mail-address {
	text-align: center;
	margin: 40px 0 20px 0;
	font-family: 'Junction', Arial;
	font-size: 30px;
}

.alert-perso-info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #97B0B5;
}

/* Warning and Error box */
#warning-box, #error-box {
	display: none;
}

/*
 * What's inside the "My Bookings" box
 */
#my-bookings-form {
	width: 100%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

#my-bookings-form p {
	font-size: 14px;
}