/* Fonts (Free and Open sources) */
@font-face {
    font-family: 'Existence';
    src: url('./fonts/Existence-Light-webfont.eot');
    src: url('./fonts/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Existence-Light-webfont.woff') format('woff'),
         url('./fonts/Existence-Light-webfont.ttf') format('truetype'),
         url('./fonts/Existence-Light-webfont.svg#ExistenceLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Junction';
  src: url('./fonts/Junction-webfont.eot');
  src: url('./fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/Junction-webfont.woff') format('woff'),
       url('./fonts/Junction-webfont.ttf') format('truetype'),
       url('./fonts/Junction-webfont.svg#junctionregularRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* General CSS */
body {
	font-family: "Junction", Arial;
}

/* Header part*/
header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 110px;
	background-color: #545454;
}

header #header-content {
	position: relative;
	width: 800px;
	margin: 0 auto;
}

header h1 {
	position: absolute;
	top: 20px;
	left: 0;
	color: #FFF;
	font-size: 44px;
	font-family: "Existence", Arial;
}

header img {
	position: absolute;
	right: 10px;
	top: 5px;
}

header nav {
	position: absolute;
	top: 85px;
	left: 15px;
}

header ul {
	list-style-type:none;
	margin: 0;
}

header li {
	display: inline-block;
	padding: 0 5px;
}

header ul a {
	color: #FFF;
	font-size: 14px;
}

header ul a:hover {
	color: #7A991A;
	text-decoration: none;
}

/* Content part*/
#body-content {
	width: 800px;
	height: auto;
	background-color: #CECECE;
	margin: 0 auto;
	padding-top: 110px;
	padding-bottom: 100px;
}

#body-content #map-canvas {
	width: 800px;
	height: 300px;
}

#body-content #left-part {
	float: left;
	width: 398px;
	border-right: 2px solid #B01936;
}

#body-content #right-part {
	float: right;
	width: 390px;
	text-align: right;
}

#body-content fieldset legend {
	border: 0; /* remove the auto white border at the bottom */
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 30px;
}

#body-content fieldset input {
	margin-left: 20px;
	margin-right: 20px;
}

#body-content #find-btn {
	display: block;
	margin: 30px auto 0 auto;
	width: 200px;
	height: 60px;
	background-color:#B01936;
	font-family: "Junction", Arial;
	font-size: 24px;
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 4px;
       -moz-border-radius: 4px;
         -o-border-radius: 4px;
    		border-radius: 4px;
    border: solid 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
         -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

/* About box */
#about-box {
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: -325px;
	z-index: 1000;
	width: 600px;
	text-align: justify;
}

#about-box p {
	text-indent: 25px;
}